.valign-wrapper {
  height:100%;
  position: absolute;
  width:100%;
}

.valign {
	width:100%;
}

.parentWrap {
	display: block;
}

.sidePanelWrap {
  /* csslint ignore:start */
  border: solid 2px #eee;
  /* csslint ignore:end */
  height:35vh;
  /* csslint ignore:start */
  padding: 10px;
  /* csslint ignore:end */
  word-wrap: break-word;
}
.expList {
  cursor: pointer;
  display: block;
  height: 18vh;
  overflow-y: scroll;
}

.highlight tbody tr:hover {
    background-color: rgb(27, 156, 226);
}

.packetInfo {
  /* csslint ignore:start */
  border: solid 2px #eee;
  /* csslint ignore:end */
  cursor: pointer;
  display: block;
  height: 35vh;
  overflow-y: scroll;
}

body {
  overflow: hidden;
}
.editor {
  bottom: 0;
  left: 30px;
  /*margin: 40px;*/
  position: absolute;
  right: 440px;
  top: 120px;
}