/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

div.normal-width{
  width: 85%;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}
div.max-width{
  width: 97%;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 5px;
    padding-left: 5px;
    
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.halfScroll {
  min-height: 50%;
  overflow: scroll;
}
.table-striped {
    height: 24em;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border-left: 10px gray;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}
/* decorations */
.table-striped {
    padding: 0.3em;
}
table td, table th {
    padding: 0.3em;
}

table#packetInfo{
  border-top:2px #000 solid;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}
}

/*footer slider*/
summary::-webkit-details-marker {
  display: none
}
summary:after {
  background: transparent; 
  border-radius: 0px; 
  content: "+"; 
  color: #00ACE1; 
  float: left; 
  font-size: 1em; 
  margin: -5px 10px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 14px;
}
details[open] summary:after {
  content: "-";
}
summary:focus {
  outline-style: none;
}
article > details > summary {
  font-size: 14px;
  margin-top: 8px;
}
details > p {
  margin-left: 24px;
}
details details {
  margin-left: 36px;
}
details details summary {
  font-size: 14px;
}
/*
*  Sidebar
*/
nav.sidebar-menu-collapsed {
  width: 3%; }
nav.sidebar-menu-expanded {
  width: 15%; }
nav.sidebar {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #000;
  color: #00ACE1;
  padding: 20px 10px; }
  nav.sidebar a#justify-icon {
    outline: 0;
    color: white;
    font-size: 22px;
    font-style: normal; }
  nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 40px; }
    nav.sidebar ul li {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style-type: none; }
      nav.sidebar ul li a.expandable {
        outline: 0;
        color: white;
        text-decoration: none;
        font-size: 22px; }
        nav.sidebar ul li a.expandable:hover {
          color: #bbbbbb; }
        nav.sidebar ul li a.expandable span.expanded-element {
          margin-left: 2px;
          display: none;
          font-size: 16px;
          position: relative;
          bottom: 2px; }
      nav.sidebar ul li.active {
        background: none repeat scroll 0 0 black;
        border-radius: 4px;
        text-align: center;
        margin-left: -4px;
        padding: 4px; }
        nav.sidebar ul li.active a.expandable {
          color: white !important; }
          nav.sidebar ul li.active a.expandable:hover {
            color: white !important; }

/*
*Drop down menu
*/

.nav {
  position: relative;
  line-height: 22px;
}
  .nav>li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
   
    .nav>li>a:hover, .nav>li:hover>a {
      background-color: #000;
    }
    .nav>.dropdown>a {
      padding: 10px 30px 10px 20px;
    }
    .dropdown>a:after {
       content: "";
       position: absolute;
       top: 17px;
       right: 10px;
       width: 7px;
       height: 7px;
       transform: rotate(45deg);
       border-bottom: 1px solid #fff;
       border-right: 1px solid #fff;
      }
    .dropdown>a:hover:after, .dropdown:hover>a:after {
      border-color: #00ACE1;
    }
    .nav ul {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
    }
    .nav ul li {
      position: absolute;
      top: -9999px;
      height: 0px; 
      display: block;
      margin: 0;
      padding: 0;
      transition: height .2s ease-in;
    }
    .dropdown:hover>ul>li {
      height: 30px;
      position: relative;
      top: auto;
    }
      .nav ul li a {
        padding: 4px 20px;
        width: 180px;
        display: block;
        position: relative;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        color: #00ACE1 ;
        text-decoration: none;
        font-size: 12px;
        background-color: #000;
        transition: color .3s ease-in, background .3s ease-in;
      }
      .nav ul li:hover>a, .nav ul li a:hover {
        color: #00ACE1;
        background-color: #000;
      }
      .nav ul .dropdown:hover ul {
        left: 220px;
        top: 0;
      }
      .nav ul .dropdown a:after{
        width: 6px;
        height: 6px;
        border-bottom: 0;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        top: 12px;
      }
      .nav ul .dropdown:hover>a:after, .nav ul .dropdown>a:hover:after {
        border-right: 1px solid #e74c3c;
        border-top: 1px solid #e74c3c;
      }

 /*
 *slider
 */
 #prefetch-amount{
  border:0;
  background-color:#000; 
  color:#00ACE1; 
  font-weight:bold;
  border:0;
  width: 180px;
  height: 30px;
  text-align:center;
 }

.footerPacketDetails{
border-style: solid;
border-radius: 1px;
border-color: #6495ED;
border-width:1px;
}
.footerPacketDetails:hover{
  color:#fff;
  background: #6495ED;
}

/*
*mouse hover on table row
*/
#packetInfo tbody tr:hover{
 background: #6495ED;
}

#lowerHalf{
  border:1px solid gray; 
  cursor: default;
}