 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="cursor:default">Profile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="settings" style="cursor:default">Settings</a></li>
            <li><a id="help" style="cursor:help">Help</a></li>
            <li><a id="logout" style="cursor:default">Logout</a></li>
          </ul>
          <form>
          </form></div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" style="cursor:default">
            <li class="active"><a id="views">VIEWS<span class="sr-only">(current)</span></a></li>
            <li><a id="tabularView">Tabular</a></li>
            <li><a id="pieView">Pie</a></li>
            <li><a id="populateTable">Populate Table</a></li>
          </ul>
        </div>
        <div id="splitView" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="upperHalf" class="scroll" style="cursor:default">
            <h3 class="page-header">Stored Packets Analysis</h3>
            <h4 class="sub-header">Primary Attributes</h4>
            <div class="table-responsive">
              <table id="packetInfo" class="table table-striped">
                <thead>
                  <tr>
                    <th>Packet ID</th>
                    <th>Source MAC</th>
                    <th>Destination MAC</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer class="footer navbar-fixed-bottom">
  <div id="lowerHalf" class="scroll" style="border:1px solid gray; cursor:s-resize">
    Packet Information
    <pre id="dataContainer">
    </pre>
  </div>
</footer>