<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Packet Analyzer</a>
    <ul class="left hide-on-med-and-down">
      <li>&nbsp;<button class="waves-effect waves-light btn" id ="validateBtn">Validate</button>&nbsp;&nbsp;</li>
      <li><button class="waves-effect waves-light btn" id="analyzeBtn">Analyze</button></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a id="help" style="cursor:help">Help</a></li>
      <li><a id="logout" style="cursor:default">Logout</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
  <div class="valign" style="width:100%;">
  <div class="container">
  <div class="row" style="display: block">
        <div class="col l10 m12 s12 offset-l1">
            <div class="card blue-grey darken-3">
            <div class="card-content white-text">
                <span class="card-title center-align">Experiment Dashboard</span>
                <p class="center-align">Fill the required details</p> <br><br><br>
                <div class="row">
                <div class="input-field col s8 offset-s2">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" id="fileInput">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                  <!-- <input type="file" id="fileInput" /> -->
                </div>
                </div>
                  <style type="text/css" media="screen">
                      body {
                          overflow: hidden;
                      }
                      #editor {
                          /*margin: 40px;*/
                          position: absolute;
                          top: 120px;
                          bottom: 0;
                          left: 30px;
                          right: 440px;
                      }
                  </style>
                  <div class="row">
                  <div class="input-field col s8 offset-s2">
                    <pre id="editor">
                      {
                    </pre>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    // editor.session.setMode("ace/mode/javascript");
</script>
