<form class="form-horizontal">
        <div class="form-group">
          <label for="experimentName" class="col-sm-2 control-label">Experiment Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="experimentName" placeholder="Name of the experiment">
            </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" placeholder="A short description">
            </div>
          </div>
        <div class="form-group">
          <label for="experimenter" class="col-sm-2 control-label">Experimenter</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="experimenter" >
            </div>
        </div>
        <div class="form-group">
          <label for="testId" class="col-sm-2 control-label">Test ID</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="testId" >
          </div>
        </div>
  
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Attach PCAP Analysis Files">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Attach</button>
            </span>
        </div>
        <div class="btn-toolbar ">
            <button type="submit" class="btn btn-lg btn-primary "id = "newExperiment">NEW EXPERIMENT</button>
            <button type="submit" class="btn btn-lg btn-primary " id = "loadExperiment">LOAD EXPERIMENT</button>
        </div>
      </form>