<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Packet Analyzer</title>
    <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/first.css">
    <link rel="stylesheet" href="node_modules/bootstrap/bootstrap.min.css">
  </head>

  <body>

<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Experiment Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Name of the experiment">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="A short description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Experimenter</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" >
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Test ID</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" >
    </div>
  </div>
  
    <div class="input-group">
      <input type="text" class="form-control" placeholder="PCAP Analysis Files">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Attach</button>
      </span>
    </div><!-- /input-group -->
  <!-- /.col-lg-6 -->
  <div class="btn-toolbar ">
      <button type="submit" class="btn btn-lg btn-primary ">NEW EXPERIMENT</button>
      <button type="submit" class="btn btn-lg btn-primary ">LOAD EXPERIMENT</button>
  </div>
</form>
    
  </body>
</html>