<!doctype html>
<html lang="en" data-framework="backbonejs">
    <head>
        <meta charset="utf-8">
        <title>Packet Analyzer</title>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/todomvc-common/base.css">
        <link rel="stylesheet" href="css/todomvc-app-css/index.css">
        <link rel="stylesheet" href="css/todomvc-app-css/experiment-template.css">
        <link rel="stylesheet" href="css/todomvc-app-css/config-playground-template.css">
        <link rel="stylesheet" href="css/todomvc-app-css/analysis-template.css">
        <link rel="stylesheet" href="css/w2ui/w2ui-1.4.3.css">
        <link rel="stylesheet" href="css/dragula/dragula.min.css">
        <link rel="stylesheet"  href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    </head>
    <body>
        <script src="js/utils.js"></script>
        <script src="js/todomvc-common/base.js"></script>
        <script src="js/jquery/dist/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="js/underscore/underscore.js"></script>
        <script src="js/backbone/backbone.js"></script>
        <script src="js/cookie/js.cookie.js"></script>
        <script src="js/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="js/w2ui/w2ui-1.4.3.min.js"></script> 
        <script src="js/dragula/dragula.min.js"></script>
        <script src="js/interact/interact.min.js"></script> 
        <script src="js/wysiwyg/wysiwyg.js"></script> 
        <script src="js/views/login-view.js"></script>
        <script src="js/views/experiment-view.js"></script>
        <script src="js/views/config-playground-view.js"></script>
        <script src="js/views/analysis-view.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>