<!doctype html>
<html lang="en" data-framework="backbonejs">
    <head>
        <meta charset="utf-8">
        <title>Packet Analyzer</title>
        <link type="text/css" rel="stylesheet" href="css/materialize/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="blue-grey darken-4">        
        <script src="js/utils.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="js/materialize/materialize.js"></script>
        <script src="node_modules/underscore/underscore.js"></script>
        <script src="node_modules/backbone/backbone.js"></script>
        <script src="node_modules/js-cookie/src/js.cookie.js"></script>
        <script src="node_modules/backbone-localstorage/backbone-localstorage.js"></script>
        <!-- To be used in the graph diagram 
        <script src="js/interact/interact.min.js"></script>  -->
        <script src="js/views/base-view.js"></script>
        <script src="js/views/login-view.js"></script>
        <script src="js/views/load-view.js"></script>
        <script src="js/views/experiment-view.js"></script>
        <script src="js/views/config-playground-view.js"></script>
        <script src="js/views/analysis-view.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>