<!--<div id="yes-drop" class="draggable drag-drop"> TCP </div>
<div id="yes-drop" class="draggable drag-drop"> IP </div>
<div id="inner-dropzone" class="dropzone"></div>-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Packet Analyzer</a>
    <!-- <ul class="left hide-on-med-and-down">
      <li>&nbsp;<button class="waves-effect waves-light btn" id ="validateBtn">Validate</button>&nbsp;&nbsp;</li>
      <li><button class="waves-effect waves-light btn" id="analyzeBtn">Analyze</button></li>
    </ul> -->
    <ul class="right hide-on-med-and-down">
      <li><a id="help" style="cursor:help">Help</a></li>
      <li><a id="logout" style="cursor:default">Logout</a></li>
      <!-- Dropdown Trigger -->
      <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
    </ul>
  </div>
</nav>
</div>
<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
  <div class="valign" style="width:100%;">
  <div class="container">
  <div class="row" style="display: block">
        <div class="col l10 m12 s12 offset-l1">
            <div class="card blue-grey darken-3">
            <div class="card-content white-text">
                <span class="card-title center-align">Experiment Dashboard</span>
                <p class="center-align">Fill the required details</p> <br><br><br>
                <div class="row">
                    <table>
                    <thead><tr><th>Experiment</th></tr></thead>
                    </table>
                    <table id="expList" class="bordered highlight">
                    <tbody></tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style type="text/css">
#expList {
  display: block;
  height: 35vh;
  overflow-y: scroll;
  border: solid 2px #eee;
  cursor: pointer;
}

table.highlight tbody tr:hover {
    background-color: rgb(27, 156, 226); !important;
}
</style>
