<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/appconfig.xml</param-value>
	</context-param>
	<env-entry> 
    	<env-entry-name>highWaterMark</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>7</env-entry-value> 
	</env-entry>
	<env-entry> 
   		<env-entry-name>lowWaterMark</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>3</env-entry-value> 
	</env-entry>
	<env-entry> 
   		<env-entry-name>analysisOnly</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>false</env-entry-value> 
	</env-entry>	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/appconfig.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:META-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
